
<div class="card ">
    <a href="/post/{{id}}"><div class="card-content">
        <p class="card-header title">
            {{title}}
        </p>
        <div class="content">
            {{text}}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
            {{user.username}}
            </span>
        </p>
        <p class="card-footer-item">
            <span>
            {{created_at}}
            </span>
        </p>
    </footer>
    </a>
</div>
<br>